.book-box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 145px);
  grid-column-gap: 26px;
}

@media (max-width: 1200px) {
  .book-box {
    grid-template-columns: repeat(4, 130px);
    grid-column-gap: 15px;
  }
}

@media (max-width: 600px) {
  .book-box {
    grid-template-columns: repeat(3, 110px);
    grid-column-gap: 10px;
  }
}
